/* 컨테이너 넓이, 마진 지정 */
#container {
  width: 960px;
  margin: 0 auto;
}

/* 헤더 */
header {
  background: #333D51;
  height: 100px;
  padding: 20px;
}

/* 네비게이션 바 */

.navbar {
  text-align: right;
}
.navbar > li {
  display: inline-block;
  padding: 20px;
}

/* 가상 클래스 */
.navbar a {
  padding: 5px;
}

.navbar a:link {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #eee;
}

.navbar a:hover {
  border-bottom: 3px dotted #fff;
}

.navbar a:active {
  border: 5px dashed #fff;
}

.navbar a:focus {
  background: #000;
}

/* 섹션 */
section {
  box-sizing: border-box;
  width: 70%;
  padding: 10px;
  float: left;
}

section h1 {
  position: relative;
  height: 50px;
  margin-bottom: 5px;
  padding-left: 20px;
}

section h1::before {
  position: relative;
  top: 5px;
  right: 5px;
  content:url(/img/임티.png);
  margin-right: 5px;
}

section h1::after {
  position: relative;
  top: -5px;
  left: 5px;
  content: "NEW!";
  font-size: small;
  color: #fff;
  background: red;
  padding: 3px;
  border-radius: 5px;
}

/* 아티클 */
article {
  box-sizing: border-box;
  width: 320px;
  height: 330px;
  padding: 15px;
  margin: 3px;
  float: left;
}

/* 아티클 형제 중 첫번째 요소의 h3 뒤에 new라는 문구 넣기 */

article:first-of-type h3::after {
  content: "NEW!";
  font-size: small;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  background: red;
  float: right;
}

/* 아티클 위에 마우스 올리면 색상 변경 */
article:nth-child(odd):hover {
  color: #fff;
  background: #D3AC2B;
}

article:nth-child(even):hover {
  color: #fff;
  background: #333D51;
}

/* 아티클 paragraph 첫 글자만 볼드체 */
article p::first-letter {
  font-weight: bold;
  font-size: 18px;
}

/* 드래그 시 아티클 색상 달리 줌 */
article:nth-child(odd) p::selection {
  color:#fff;
  background: #333D51;
}

article:nth-child(even) p::selection {
  color: #fff;
  background: #D3AC2B;
}

aside {
  margin-top: 70px;
  float: right;
}
figure {
  margin: 0px;
}
figure img {
  width: 250px;
  margin: 5px;
  height: 200px;
  display: block;
}
footer {
  clear:both;
  background: #333D51;
  text-align: center;
  padding: 20px;
  color: #fff;
}

/*
Class CSS Layout

body {
  font-family: '맑은 고딕', '고딕', '굴림'
  height: 100px;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  margin: 18px;
}

nav a {
  text-decoration: none;
  color: color;
  font-weight: bold;
  font-size: 18px;
}

section {
  width: 740px;
  padding: 10px;
  float: left;
}

section h2 {
  padding-left: 20px;
}

article {
  width: 320px;
  border: 1px solid color;
  padding: 10px;
  margin: 5px;
  float: left;
}
- 박스 크기를 정확히 지정해주면 일일이 left, right해서 배치하지 않고 float left만으로 배치 가능

aside {
  width: 200px;
  float: right;
}

footer {
  clear: both;
  background: color;
  padding: 10px;
  text-align: center;
  color: color;
}
*/